Bowles 2.2: <br/>Classification Problems: <br/>Detecting Unexploded Mines Using Sonar
=========

In [1]:
import pandas as pd
import numpy as np
import os
fileDir = os.path.dirname(os.path.realpath('__file__'))
print("Loakles Verzeichnis: ", fileDir)

Loakles Verzeichnis:  /opt/notebooks/Übungen Vorlesung

## Listing 2-1: Sizing Up a New Data Setâ€”rockVmineSummaries.py

CSV einlesen: Anders als Bowles machen wir das mit Pandas.

Doku: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [2]:
# Bowles Listing 2-1: Sizing Up a New Data Setâ€”rockVmineSummaries.py
# dataSource = "https://archive.ics.uci.edu/ml/machine-learning-databases/undocumented/connectionist-bench/sonar/sonar.all-data"
source_csv_file = "../data/sonar.all-data.csv"
source_csv_file = os.path.join(fileDir, source_csv_file)
source_df = pd.read_csv(source_csv_file, header=None)
print("Eingelesen aus\n%s:\n%i Zeilen, %i Spalten" % (source_csv_file,source_df.shape[0], source_df.shape[1] ))

Eingelesen aus
/opt/notebooks/Übungen Vorlesung/../data/sonar.all-data.csv:
208 Zeilen, 61 Spalten

In [3]:
# number of rows, colums
source_df.shape

(208, 61)

## Listing 2-2: Determining the Nature of Attributesâ€”rockVmineContents.py

In [4]:
# datatypes of cols
source_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 61 columns):
0     208 non-null float64
1     208 non-null float64
2     208 non-null float64
3     208 non-null float64
4     208 non-null float64
5     208 non-null float64
6     208 non-null float64
7     208 non-null float64
8     208 non-null float64
9     208 non-null float64
10    208 non-null float64
11    208 non-null float64
12    208 non-null float64
13    208 non-null float64
14    208 non-null float64
15    208 non-null float64
16    208 non-null float64
17    208 non-null float64
18    208 non-null float64
19    208 non-null float64
20    208 non-null float64
21    208 non-null float64
22    208 non-null float64
23    208 non-null float64
24    208 non-null float64
25    208 non-null float64
26    208 non-null float64
27    208 non-null float64
28    208 non-null float64
29    208 non-null float64
30    208 non-null float64
31    208 non-null float64
32    208 non-null float64
33    208 non-null float64
34    208 non-null float64
35    208 non-null float64
36    208 non-null float64
37    208 non-null float64
38    208 non-null float64
39    208 non-null float64
40    208 non-null float64
41    208 non-null float64
42    208 non-null float64
43    208 non-null float64
44    208 non-null float64
45    208 non-null float64
46    208 non-null float64
47    208 non-null float64
48    208 non-null float64
49    208 non-null float64
50    208 non-null float64
51    208 non-null float64
52    208 non-null float64
53    208 non-null float64
54    208 non-null float64
55    208 non-null float64
56    208 non-null float64
57    208 non-null float64
58    208 non-null float64
59    208 non-null float64
60    208 non-null object
dtypes: float64(60), object(1)
memory usage: 99.2+ KB

## Listing 2-3: Summary Statistics for Numeric and Categorical Attributesâ€”rVMSummaryStats.py

In [5]:
(nrow, ncol) = source_df.shape
print(source_df.shape)
print("rows: %i, cols: %i" % (nrow, ncol))
print("total number of measurements:", source_df.size)

(208, 61)
rows: 208, cols: 61
total number of measurements: 12688

Bowles berechnet die gÃ¤ngigen statistischen KenngrÃ¶ÃŸen manuell, z.B.:

    colMean = np.mean(colArray); colsd = np.std(colArray)
    
Pandas stellt dazu die Methode ``describe()`` bereit - siehe unten Listing 2.4.

Unique Werte in der 61ten Spalte (weil der Index mit 0 beginnt also Spalte 60) mit Pandas.

Doku: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.unique.html

In [7]:
#hide XXX
source_df[60].unique()

array(['R', 'M'], dtype=object)

Oder a la Bowles nativ mit Python als Menge oder Liste:

In [ ]:
colData = source_df[60]
unique = set(colData)
print("unique Werte als Menge: ", unique)

In [ ]:
#count up the number of elements having each value
catDict = dict(zip(list(unique),range(len(unique))))
catCount = [0]*2
for elt in colData:
   catCount[catDict[elt]] += 1
print("unique Werte als Liste: ", list(unique))
print("catCount dazu:          ", catCount )

## Listing 2-5: Using Python Pandas to Read and Summarize Dataâ€”pandasReadSummarize.py

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html#pandas.DataFrame.describe

In [8]:
#hide XXX
#print XXX and tail of data frame
display(source_df.describe())
display(source_df.tail(2))

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,...,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,0.029164,0.038437,0.043832,0.053892,0.075202,0.104570,0.121747,0.134799,0.178003,0.208259,...,0.016069,0.013420,0.010709,0.010941,0.009290,0.008222,0.007820,0.007949,0.007941,0.006507
std,0.022991,0.032960,0.038428,0.046528,0.055552,0.059105,0.061788,0.085152,0.118387,0.134416,...,0.012008,0.009634,0.007060,0.007301,0.007088,0.005736,0.005785,0.006470,0.006181,0.005031
min,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,0.011300,...,0.000000,0.000800,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,0.013350,0.016450,0.018950,0.024375,0.038050,0.067025,0.080900,0.080425,0.097025,0.111275,...,0.008425,0.007275,0.005075,0.005375,0.004150,0.004400,0.003700,0.003600,0.003675,0.003100
50%,0.022800,0.030800,0.034300,0.044050,0.062500,0.092150,0.106950,0.112100,0.152250,0.182400,...,0.013900,0.011400,0.009550,0.009300,0.007500,0.006850,0.005950,0.005800,0.006400,0.005300
75%,0.035550,0.047950,0.057950,0.064500,0.100275,0.134125,0.154000,0.169600,0.233425,0.268700,...,0.020825,0.016725,0.014900,0.014500,0.012100,0.010575,0.010425,0.010350,0.010325,0.008525
max,0.137100,0.233900,0.305900,0.426400,0.401000,0.382300,0.372900,0.459000,0.682800,0.710600,...,0.100400,0.070900,0.039000,0.035200,0.044700,0.039400,0.035500,0.044000,0.036400,0.043900

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
206,0.0303,0.0353,0.0490,0.0608,0.0167,0.1354,0.1465,0.1123,0.1945,0.2354,...,0.0086,0.0046,0.0126,0.0036,0.0035,0.0034,0.0079,0.0036,0.0048,M
207,0.0260,0.0363,0.0136,0.0272,0.0214,0.0338,0.0655,0.1400,0.1843,0.2354,...,0.0146,0.0129,0.0047,0.0039,0.0061,0.0040,0.0036,0.0061,0.0115,M

In [9]:
#hide XXX
# Deskriptive Statistik 08/15    
source_df.info() # erfasst standardmÃ¤ÃŸig nur die numerischen Attribute

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 61 columns):
0     208 non-null float64
1     208 non-null float64
2     208 non-null float64
3     208 non-null float64
4     208 non-null float64
5     208 non-null float64
6     208 non-null float64
7     208 non-null float64
8     208 non-null float64
9     208 non-null float64
10    208 non-null float64
11    208 non-null float64
12    208 non-null float64
13    208 non-null float64
14    208 non-null float64
15    208 non-null float64
16    208 non-null float64
17    208 non-null float64
18    208 non-null float64
19    208 non-null float64
20    208 non-null float64
21    208 non-null float64
22    208 non-null float64
23    208 non-null float64
24    208 non-null float64
25    208 non-null float64
26    208 non-null float64
27    208 non-null float64
28    208 non-null float64
29    208 non-null float64
30    208 non-null float64
31    208 non-null float64
32    208 non-null float64
33    208 non-null float64
34    208 non-null float64
35    208 non-null float64
36    208 non-null float64
37    208 non-null float64
38    208 non-null float64
39    208 non-null float64
40    208 non-null float64
41    208 non-null float64
42    208 non-null float64
43    208 non-null float64
44    208 non-null float64
45    208 non-null float64
46    208 non-null float64
47    208 non-null float64
48    208 non-null float64
49    208 non-null float64
50    208 non-null float64
51    208 non-null float64
52    208 non-null float64
53    208 non-null float64
54    208 non-null float64
55    208 non-null float64
56    208 non-null float64
57    208 non-null float64
58    208 non-null float64
59    208 non-null float64
60    208 non-null object
dtypes: float64(60), object(1)
memory usage: 99.2+ KB

Auch Zusammenfassungen von nicht-numerischen Attributen sind mÃ¶glich:

In [ ]:
#hide XXX
source_df.describe(include=XXX)