Bowles 2.1: The Anatomy of a New Problem
=========

In [1]:
import pandas as pd
import numpy as np

CSV einlesen mit Pandas
----

In [2]:
import os
fileDir = os.path.dirname(os.path.realpath('__file__'))

Doku: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [3]:
## Bowles Listing 2-1: Sizing Up a New Data Setâ€”rockVmineSummaries.py
## dataSource = "https://archive.ics.uci.edu/ml/machine-learning-databases/undocumented/connectionist-bench/sonar/sonar.all-data"
#source_csv_file = os.path.join(fileDir, "../data/sonar.all-data.csv")
#source_df = pd.read_csv(source_csv_file, header=None)

In [4]:
# Titanic Dataset
# dataSource = MLPC bitly
source_csv_file = "../data/titanic_MLPC.csv"
# ggf. auch so:
# source_csv_file = os.path.join(fileDir, "../data/titanic_MLPC.csv")

source_df = pd.read_csv(source_csv_file,
                # header=0  # default: column names are inferred from the first line of the file 
                )

In [5]:
assert isinstance(source_df, (pd.pandas.core.frame.DataFrame))

FAQ: CSV anders einlesen, z.B. mit Numpy? Antwort: NEIN. Pandas ``read_csv()`` ist am schnellsten, Alternativen sind schlechter. 

Diskussion unter
https://stackoverflow.com/questions/3518778/how-do-i-read-csv-data-into-a-record-array-in-numpy : """I tested code similar to this with a csv file containing 2.6 million rows and 8 columns. numpy.recfromcsv() took about 45 seconds, np.asarray(list(csv.reader())) took about 7 seconds, and pandas.read_csv() took about 2 seconds (!). (The file had recently been read from disk in all cases, so it was already in the operating system's file cache.) I think I'll go with pandas""" (Kommentar Matthias Fripp Mar 31 '16 at 21:56)

einen ersten Eindruck gewinnen
---

Die ersten und letzten paar Zeilen anschauen, die man eingelesen hat: 
   * https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html
   * https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html

In [6]:
## Die ersten paar Zeilen anschauen
source_df.XXX

,Name,PClass,Age,Sex,Survived,SexCode
0,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,"Allison, Master Hudson Trevor",1st,0.92,male,1,0

In [ ]:
## die letzten 3 Zeilen anschauen
source_df.tail(3)

Zusammenfassende Informationen: 
   * https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html

In [ ]:
## concise summary: Datentypen, Anzahl Items ungleicht Null, Memory
source_df.XXX(verbose=True)

Beschreibende Statistik: die Ã¼blichen 08/15-Informationen
----

   * https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html#pandas.DataFrame.describe

In [ ]:
#hide XXX
# Deskriptive Statistik 08/15    
source_df.XXX()

In [7]:
#hide XXX
source_df.describe(include=XXX)

                       Name PClass   Sex
count                  1313   1313  1313
unique                 1310      4     2
top     Connolly, Miss Kate    3rd  male
freq                      2    711   851

Der Datensatz in Numpy
----

In [ ]:
#hide XXX
# dataframe in Numpy n-dimensionales Array konvertieren
source_ndarray = source_df.XXX
assert isinstance(source_ndarray, np.ndarray)

FÃ¼r uns interessante Attribute der Klasse https://numpy.org/devdocs/reference/generated/numpy.ndarray.html :
  * size
  * ndim
  * shape
  * T

In [ ]:
print(source_df.shape, source_ndarray.shape)